# Summary

Summary of the data collecting and pulling process:

Through scouring Google Dataset Search and Kaggle, Airbnb datasets were pulled featuring, ostensibly, main attributes affecting price. Primary features included within the central dataset are: price, room type, shared room?, private room?, person capacity, superhost(?), multi room(?), for business(?), cleanliness rating, guest satisfaction rating, bedroom number, distance from city center, distance from metro, longitude, and latitude. 

Furthermore, because the primary Airbnb dataset is sourced from various European cities, locating supplementary socio-economic and socio-cultural variables for each respective Euroean city to append as additional features was attempted. However, sourcing additional relevant indicators, proved difficult, but simple datasets were extracted from Wikipedia and Kaggle. These supplemental features are city gdp, metropolitan population, city's area (in km2), and these factors eventually were affixed as additional columns within the primary Airbnb dataset. 

Because all thirteen datasets were pulled from Kaggle or Wikipedia, there was minimal need for cleaning null values or duplicates. The Wikipedia table was converted into .csv via the website, https://wikitable2csv.ggor.de/. Joining, concatenating, and merging the tables all datasets into one coherent table became the most onerous process. For the ten European city datasets, new weekday vs. weekend columns for the respective city_weekend and city_weekday tables were created to permanently label these datasets for subsequent merges. After concatenating each city's weekend and weekday datasets together into one coherent city dataset, the ten cities' were merged into one unified European dataset. After this stage - where all ten European cities are now aggregated into one centralized table - two new csvs containing each cities's gdp, population, area were appended onto their respective cities. This layer will hopefully permit a slightly more robust analysis of Airbnb factors that determine price, not merely via Airbnb room characteristics, but also through external socio-cultural or economic conditions influencing consumer psychology throughout these European cities. 

Note: More granular technical details of the data wrangling process are included below.

In [ ]:
import pandas as pd

In [192]:
#Import all the datasets

amsterdam_weekdays = pd.read_csv('amsterdam_weekdays.csv')
amsterdam_weekends = pd.read_csv('amsterdam_weekends.csv')
athens_weekdays = pd.read_csv('athens_weekdays.csv')
athens_weekends = pd.read_csv('athens_weekends.csv')
barcelona_weekdays = pd.read_csv('barcelona_weekdays.csv')
barcelona_weekends = pd.read_csv('barcelona_weekends.csv')
berlin_weekdays = pd.read_csv('berlin_weekdays.csv')
berlin_weekends = pd.read_csv('berlin_weekends.csv')
budapest_weekdays = pd.read_csv('budapest_weekdays.csv')
budapest_weekends = pd.read_csv('budapest_weekends.csv')
lisbon_weekdays = pd.read_csv('lisbon_weekdays.csv')
lisbon_weekends = pd.read_csv('lisbon_weekends.csv')
london_weekdays = pd.read_csv('london_weekdays.csv')
london_weekends = pd.read_csv('london_weekends.csv')
paris_weekdays = pd.read_csv('paris_weekdays.csv')
paris_weekends = pd.read_csv('paris_weekends.csv')
rome_weekdays = pd.read_csv('rome_weekdays.csv')
rome_weekends = pd.read_csv('rome_weekends.csv')
vienna_weekdays = pd.read_csv('vienna_weekdays.csv')
vienna_weekends = pd.read_csv('vienna_weekends.csv')

In [6]:
#Print all the dataset's dimensions
print('amsterdam_weekdays shape = ' + str(amsterdam_weekdays.shape))
print('amsterdam_weekends shape = ' + str(amsterdam_weekends.shape))
print('athens_weekdays shape = ' + str(athens_weekdays.shape))
print('athens_weekends shape = ' + str(athens_weekends.shape))
print('barcelona_weekdays shape = ' + str(barcelona_weekdays.shape))
print('barcelona_weekends shape = ' + str(barcelona_weekends.shape))
print('berlin_weekdays shape = ' + str(berlin_weekdays.shape))
print('berlin_weekends shape = ' + str(berlin_weekends.shape))
print('budapest_weekdays shape = ' + str(budapest_weekdays.shape))
print('budapest_weekends shape = ' + str(budapest_weekends.shape))
print('lisbon_weekdays shape = ' + str(lisbon_weekdays.shape))
print('lisbon_weekends shape = ' + str(lisbon_weekends.shape))
print('london_weekdays shape = ' + str(london_weekdays.shape))
print('london_weekends shape = ' + str(london_weekends.shape))
print('paris_weekdays shape = ' + str(paris_weekdays.shape))
print('paris_weekends shape = ' + str(paris_weekends.shape))
print('rome_weekdays shape = ' + str(rome_weekdays.shape))
print('rome_weekends shape = ' + str(rome_weekends.shape))
print('vienna_weekdays shape = ' + str(vienna_weekdays.shape))
print('vienna_weekends shape = ' + str(vienna_weekends.shape))

amsterdam_weekdays shape = (1103, 20)
amsterdam_weekends shape = (977, 20)
athens_weekdays shape = (2653, 20)
athens_weekends shape = (2627, 20)
barcelona_weekdays shape = (1555, 20)
barcelona_weekends shape = (1278, 20)
berlin_weekdays shape = (1284, 20)
berlin_weekends shape = (1200, 20)
budapest_weekdays shape = (2074, 20)
budapest_weekends shape = (1948, 20)
lisbon_weekdays shape = (2857, 20)
lisbon_weekends shape = (2906, 20)
london_weekdays shape = (4614, 20)
london_weekends shape = (5379, 20)
paris_weekdays shape = (3130, 20)
paris_weekends shape = (3558, 20)
rome_weekdays shape = (4492, 20)
rome_weekends shape = (4535, 20)
vienna_weekdays shape = (1738, 20)
vienna_weekends shape = (1799, 20)

In [7]:
#Examine all the columns for each city's dataset
print(amsterdam_weekdays.columns)
print(amsterdam_weekends.columns)
print(athens_weekdays.columns)
print(athens_weekends.columns)
print(barcelona_weekdays.columns)
print(barcelona_weekends.columns)
print(berlin_weekdays.columns)
print(berlin_weekends.columns)
print(budapest_weekdays.columns)
print(budapest_weekends.columns)
print(lisbon_weekdays.columns)
print(lisbon_weekends.columns)
print(london_weekdays.columns)
print(london_weekends.columns)
print(paris_weekdays.columns)
print(paris_weekends.columns)
print(rome_weekdays.columns)
print(rome_weekends.columns)
print(vienna_weekdays.columns)
print(vienna_weekends.columns)

Index(['Unnamed: 0', 'realSum', 'room_type', 'room_shared', 'room_private',
       'person_capacity', 'host_is_superhost', 'multi', 'biz',
       'cleanliness_rating', 'guest_satisfaction_overall', 'bedrooms', 'dist',
       'metro_dist', 'attr_index', 'attr_index_norm', 'rest_index',
       'rest_index_norm', 'lng', 'lat'],
      dtype='object')
Index(['Unnamed: 0', 'realSum', 'room_type', 'room_shared', 'room_private',
       'person_capacity', 'host_is_superhost', 'multi', 'biz',
       'cleanliness_rating', 'guest_satisfaction_overall', 'bedrooms', 'dist',
       'metro_dist', 'attr_index', 'attr_index_norm', 'rest_index',
       'rest_index_norm', 'lng', 'lat'],
      dtype='object')
Index(['Unnamed: 0', 'realSum', 'room_type', 'room_shared', 'room_private',
       'person_capacity', 'host_is_superhost', 'multi', 'biz',
       'cleanliness_rating', 'guest_satisfaction_overall', 'bedrooms', 'dist',
       'metro_dist', 'attr_index', 'attr_index_norm', 'rest_index',
       'rest_index_norm', 'lng', 'lat'],
      dtype='object')
Index(['Unnamed: 0', 'realSum', 'room_type', 'room_shared', 'room_private',
       'person_capacity', 'host_is_superhost', 'multi', 'biz',
       'cleanliness_rating', 'guest_satisfaction_overall', 'bedrooms', 'dist',
       'metro_dist', 'attr_index', 'attr_index_norm', 'rest_index',
       'rest_index_norm', 'lng', 'lat'],
      dtype='object')
Index(['Unnamed: 0', 'realSum', 'room_type', 'room_shared', 'room_private',
       'person_capacity', 'host_is_superhost', 'multi', 'biz',
       'cleanliness_rating', 'guest_satisfaction_overall', 'bedrooms', 'dist',
       'metro_dist', 'attr_index', 'attr_index_norm', 'rest_index',
       'rest_index_norm', 'lng', 'lat'],
      dtype='object')
Index(['Unnamed: 0', 'realSum', 'room_type', 'room_shared', 'room_private',
       'person_capacity', 'host_is_superhost', 'multi', 'biz',
       'cleanliness_rating', 'guest_satisfaction_overall', 'bedrooms', 'dist',
       'metro_dist', 'attr_index', 'attr_index_norm', 'rest_index',
       'rest_index_norm', 'lng', 'lat'],
      dtype='object')
Index(['Unnamed: 0', 'realSum', 'room_type', 'room_shared', 'room_private',
       'person_capacity', 'host_is_superhost', 'multi', 'biz',
       'cleanliness_rating', 'guest_satisfaction_overall', 'bedrooms', 'dist',
       'metro_dist', 'attr_index', 'attr_index_norm', 'rest_index',
       'rest_index_norm', 'lng', 'lat'],
      dtype='object')
Index(['Unnamed: 0', 'realSum', 'room_type', 'room_shared', 'room_private',
       'person_capacity', 'host_is_superhost', 'multi', 'biz',
       'cleanliness_rating', 'guest_satisfaction_overall', 'bedrooms', 'dist',
       'metro_dist', 'attr_index', 'attr_index_norm', 'rest_index',
       'rest_index_norm', 'lng', 'lat'],
      dtype='object')
Index(['Unnamed: 0', 'realSum', 'room_type', 'room_shared', 'room_private',
       'person_capacity', 'host_is_superhost', 'multi', 'biz',
       'cleanliness_rating', 'guest_satisfaction_overall', 'bedrooms', 'dist',
       'metro_dist', 'attr_index', 'attr_index_norm', 'rest_index',
       'rest_index_norm', 'lng', 'lat'],
      dtype='object')
Index(['Unnamed: 0', 'realSum', 'room_type', 'room_shared', 'room_private',
       'person_capacity', 'host_is_superhost', 'multi', 'biz',
       'cleanliness_rating', 'guest_satisfaction_overall', 'bedrooms', 'dist',
       'metro_dist', 'attr_index', 'attr_index_norm', 'rest_index',
       'rest_index_norm', 'lng', 'lat'],
      dtype='object')
Index(['Unnamed: 0', 'realSum', 'room_type', 'room_shared', 'room_private',
       'person_capacity', 'host_is_superhost', 'multi', 'biz',
       'cleanliness_rating', 'guest_satisfaction_overall', 'bedrooms', 'dist',
       'metro_dist', 'attr_index', 'attr_index_norm', 'rest_index',
       'rest_index_norm', 'lng', 'lat'],
      dtype='object')
Index(['Unnamed: 0', 'realSum', 'room_type', 'room_shared', 'room_private',
       'person_capacity', 'host_is_superhost', 'multi', 'biz',
       'cleanliness_rating', 'guest_satisfaction_overall', 'bedrooms', 'dist',
       'metro_dist', 'attr_index', 'attr_index_norm', 'rest_index',
       'rest_index_norm', 'lng', 'lat'],
      dtype='object')
Index(['Unnamed: 0', 'realSum', 'room_type', 'room_shared', 'room_private',
       'person_capacity', 'host_is_superhost', 'multi', 'biz',
       'cleanliness_rating', 'guest_satisfaction_overall', 'bedrooms', 'dist',
       'metro_dist', 'attr_index', 'attr_index_norm', 'rest_index',
       'rest_index_norm', 'lng', 'lat'],
      dtype='object')
Index(['Unnamed: 0', 'realSum', 'room_type', 'room_shared', 'room_private',
       'person_capacity', 'host_is_superhost', 'multi', 'biz',
       'cleanliness_rating', 'guest_satisfaction_overall', 'bedrooms', 'dist',
       'metro_dist', 'attr_index', 'attr_index_norm', 'rest_index',
       'rest_index_norm', 'lng', 'lat'],
      dtype='object')
Index(['Unnamed: 0', 'realSum', 'room_type', 'room_shared', 'room_private',
       'person_capacity', 'host_is_superhost', 'multi', 'biz',
       'cleanliness_rating', 'guest_satisfaction_overall', 'bedrooms', 'dist',
       'metro_dist', 'attr_index', 'attr_index_norm', 'rest_index',
       'rest_index_norm', 'lng', 'lat'],
      dtype='object')
Index(['Unnamed: 0', 'realSum', 'room_type', 'room_shared', 'room_private',
       'person_capacity', 'host_is_superhost', 'multi', 'biz',
       'cleanliness_rating', 'guest_satisfaction_overall', 'bedrooms', 'dist',
       'metro_dist', 'attr_index', 'attr_index_norm', 'rest_index',
       'rest_index_norm', 'lng', 'lat'],
      dtype='object')
Index(['Unnamed: 0', 'realSum', 'room_type', 'room_shared', 'room_private',
       'person_capacity', 'host_is_superhost', 'multi', 'biz',
       'cleanliness_rating', 'guest_satisfaction_overall', 'bedrooms', 'dist',
       'metro_dist', 'attr_index', 'attr_index_norm', 'rest_index',
       'rest_index_norm', 'lng', 'lat'],
      dtype='object')
Index(['Unnamed: 0', 'realSum', 'room_type', 'room_shared', 'room_private',
       'person_capacity', 'host_is_superhost', 'multi', 'biz',
       'cleanliness_rating', 'guest_satisfaction_overall', 'bedrooms', 'dist',
       'metro_dist', 'attr_index', 'attr_index_norm', 'rest_index',
       'rest_index_norm', 'lng', 'lat'],
      dtype='object')
Index(['Unnamed: 0', 'realSum', 'room_type', 'room_shared', 'room_private',
       'person_capacity', 'host_is_superhost', 'multi', 'biz',
       'cleanliness_rating', 'guest_satisfaction_overall', 'bedrooms', 'dist',
       'metro_dist', 'attr_index', 'attr_index_norm', 'rest_index',
       'rest_index_norm', 'lng', 'lat'],
      dtype='object')
Index(['Unnamed: 0', 'realSum', 'room_type', 'room_shared', 'room_private',
       'person_capacity', 'host_is_superhost', 'multi', 'biz',
       'cleanliness_rating', 'guest_satisfaction_overall', 'bedrooms', 'dist',
       'metro_dist', 'attr_index', 'attr_index_norm', 'rest_index',
       'rest_index_norm', 'lng', 'lat'],
      dtype='object')

In [ ]:
#Each city's columns has the same features, which allows us to join these files easily with the concatenate function

In [9]:
#However, before concatenating all the city's datasets together, let's examine the dataset features/colunmns more closely
#Let's examine Amsterdam first
amsterdam_weekdays.head()

,Unnamed: 0,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,guest_satisfaction_overall,bedrooms,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat
0,0,194.033698,Private room,False,True,2.0,False,1,0,10.0,93.0,1,5.022964,2.539380,78.690379,4.166708,98.253896,6.846473,4.90569,52.41772
1,1,344.245776,Private room,False,True,4.0,False,0,0,8.0,85.0,1,0.488389,0.239404,631.176378,33.421209,837.280757,58.342928,4.90005,52.37432
2,2,264.101422,Private room,False,True,2.0,False,0,1,9.0,87.0,1,5.748312,3.651621,75.275877,3.985908,95.386955,6.646700,4.97512,52.36103
3,3,433.529398,Private room,False,True,4.0,False,0,1,9.0,90.0,2,0.384862,0.439876,493.272534,26.119108,875.033098,60.973565,4.89417,52.37663
4,4,485.552926,Private room,False,True,2.0,True,0,0,10.0,98.0,1,0.544738,0.318693,552.830324,29.272733,815.305740,56.811677,4.90051,52.37508

In [10]:
#The 'Unnamed: 0' column is redundant, since we can just use the index, so let's remove this column
amstdrop = amsterdam_weekdays.drop(columns=['Unnamed: 0'])
amstdrop.head()

,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,guest_satisfaction_overall,bedrooms,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat
0,194.033698,Private room,False,True,2.0,False,1,0,10.0,93.0,1,5.022964,2.539380,78.690379,4.166708,98.253896,6.846473,4.90569,52.41772
1,344.245776,Private room,False,True,4.0,False,0,0,8.0,85.0,1,0.488389,0.239404,631.176378,33.421209,837.280757,58.342928,4.90005,52.37432
2,264.101422,Private room,False,True,2.0,False,0,1,9.0,87.0,1,5.748312,3.651621,75.275877,3.985908,95.386955,6.646700,4.97512,52.36103
3,433.529398,Private room,False,True,4.0,False,0,1,9.0,90.0,2,0.384862,0.439876,493.272534,26.119108,875.033098,60.973565,4.89417,52.37663
4,485.552926,Private room,False,True,2.0,True,0,0,10.0,98.0,1,0.544738,0.318693,552.830324,29.272733,815.305740,56.811677,4.90051,52.37508

In [11]:
#Let's also add a new column 'Weekday' to signal that the data in this dataset belongs to the 'weekday' dataset
#This step becomes critical after we eventually concatenate all the datasets together
amstdrop['Weekday/Weekend'] = 'Weekday'
amstdrop.head()

,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,guest_satisfaction_overall,bedrooms,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,Weekday/Weekend
0,194.033698,Private room,False,True,2.0,False,1,0,10.0,93.0,1,5.022964,2.539380,78.690379,4.166708,98.253896,6.846473,4.90569,52.41772,Weekday
1,344.245776,Private room,False,True,4.0,False,0,0,8.0,85.0,1,0.488389,0.239404,631.176378,33.421209,837.280757,58.342928,4.90005,52.37432,Weekday
2,264.101422,Private room,False,True,2.0,False,0,1,9.0,87.0,1,5.748312,3.651621,75.275877,3.985908,95.386955,6.646700,4.97512,52.36103,Weekday
3,433.529398,Private room,False,True,4.0,False,0,1,9.0,90.0,2,0.384862,0.439876,493.272534,26.119108,875.033098,60.973565,4.89417,52.37663,Weekday
4,485.552926,Private room,False,True,2.0,True,0,0,10.0,98.0,1,0.544738,0.318693,552.830324,29.272733,815.305740,56.811677,4.90051,52.37508,Weekday

In [13]:
#let's repeat the above modifications also for amsterdam_weekend.csv
amstdrop2 = amsterdam_weekends.drop(columns=['Unnamed: 0'])
amstdrop2['Weekday/Weekend'] = 'Weekend'
amstdrop2.head()

,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,guest_satisfaction_overall,bedrooms,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,Weekday/Weekend
0,319.640053,Private room,False,True,2.0,False,0,1,9.0,88.0,1,4.763360,0.852117,110.906123,5.871971,136.982208,11.941560,4.84639,52.34137,Weekend
1,347.995219,Private room,False,True,2.0,False,0,1,9.0,87.0,1,5.748310,3.651591,75.275937,3.985516,95.386468,8.315410,4.97512,52.36103,Weekend
2,482.975183,Private room,False,True,4.0,False,0,1,9.0,90.0,2,0.384872,0.439852,493.272517,26.116521,875.114817,76.289005,4.89417,52.37663,Weekend
3,485.552926,Private room,False,True,2.0,True,0,0,10.0,98.0,1,0.544723,0.318688,552.849514,29.270850,815.303994,71.074937,4.90051,52.37508,Weekend
4,2771.541724,Entire home/apt,False,False,4.0,True,0,0,10.0,100.0,3,1.686798,1.458399,208.809162,11.055489,272.315202,23.739349,4.88467,52.38749,Weekend

In [15]:
#Let's concatenate Amsterdam's weekday csv with its weekend csv
amstconcat = pd.concat([amstdrop, amstdrop2])
amstconcat.head()

,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,guest_satisfaction_overall,bedrooms,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,Weekday/Weekend
0,194.033698,Private room,False,True,2.0,False,1,0,10.0,93.0,1,5.022964,2.539380,78.690379,4.166708,98.253896,6.846473,4.90569,52.41772,Weekday
1,344.245776,Private room,False,True,4.0,False,0,0,8.0,85.0,1,0.488389,0.239404,631.176378,33.421209,837.280757,58.342928,4.90005,52.37432,Weekday
2,264.101422,Private room,False,True,2.0,False,0,1,9.0,87.0,1,5.748312,3.651621,75.275877,3.985908,95.386955,6.646700,4.97512,52.36103,Weekday
3,433.529398,Private room,False,True,4.0,False,0,1,9.0,90.0,2,0.384862,0.439876,493.272534,26.119108,875.033098,60.973565,4.89417,52.37663,Weekday
4,485.552926,Private room,False,True,2.0,True,0,0,10.0,98.0,1,0.544738,0.318693,552.830324,29.272733,815.305740,56.811677,4.90051,52.37508,Weekday

In [16]:
#I'm sampling the new merged file to double-check that some records have 'weekday' and 'weekend' respectively to check if this file was merged correctly
amstconcat.sample(10)

,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,guest_satisfaction_overall,bedrooms,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,Weekday/Weekend
565,250.509690,Private room,False,True,2.0,True,0,0,10.0,96.0,1,2.746616,1.165034,163.652600,8.664656,203.991892,17.783196,4.85279,52.37412,Weekend
666,995.477234,Entire home/apt,False,False,4.0,False,0,0,7.0,84.0,2,0.015059,0.249501,1003.308116,53.125831,840.505961,58.567665,4.89299,52.37335,Weekday
254,553.042908,Entire home/apt,False,False,4.0,False,0,0,9.0,99.0,3,8.149972,3.311525,54.122784,2.865554,67.639030,5.896500,5.00490,52.34713,Weekend
91,295.268671,Entire home/apt,False,False,2.0,False,0,0,9.0,92.0,1,4.665437,2.977481,84.344908,4.465677,105.922899,9.233934,4.89443,52.41516,Weekend
762,909.474375,Entire home/apt,False,False,4.0,False,0,1,10.0,93.0,2,1.025611,0.862613,430.968785,22.817824,629.307147,54.860477,4.88211,52.36693,Weekend
358,319.405713,Private room,False,True,4.0,True,0,0,9.0,96.0,2,7.401775,0.324430,65.418708,3.463964,85.445454,5.953962,4.94785,52.31577,Weekday
1032,192.861997,Private room,False,True,2.0,False,1,0,9.0,94.0,1,7.385805,3.696267,59.206036,3.134999,75.282860,5.245818,4.99774,52.35580,Weekday
971,319.640053,Private room,False,True,4.0,True,1,0,10.0,91.0,1,2.254469,0.676927,261.118554,13.826401,329.110789,22.932913,4.90049,52.35348,Weekday
291,1278.325874,Entire home/apt,False,False,4.0,True,0,0,10.0,93.0,2,1.892649,0.329576,510.238589,27.014797,511.930994,44.628094,4.88897,52.35641,Weekend
296,474.070255,Entire home/apt,False,False,4.0,False,0,0,10.0,100.0,2,7.494988,3.316992,61.509680,3.256978,76.267373,5.314420,4.78534,52.35955,Weekday

In [17]:
#Let's add a new column to specify that these datapoints belong to Amsterdam
#This steps becomes critical after we eventually concatenate all the city datasets together
amstconcat['City'] = 'Amsterdam'
amstconcat.head()

,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,guest_satisfaction_overall,...,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,Weekday/Weekend,City
0,194.033698,Private room,False,True,2.0,False,1,0,10.0,93.0,...,5.022964,2.539380,78.690379,4.166708,98.253896,6.846473,4.90569,52.41772,Weekday,Amsterdam
1,344.245776,Private room,False,True,4.0,False,0,0,8.0,85.0,...,0.488389,0.239404,631.176378,33.421209,837.280757,58.342928,4.90005,52.37432,Weekday,Amsterdam
2,264.101422,Private room,False,True,2.0,False,0,1,9.0,87.0,...,5.748312,3.651621,75.275877,3.985908,95.386955,6.646700,4.97512,52.36103,Weekday,Amsterdam
3,433.529398,Private room,False,True,4.0,False,0,1,9.0,90.0,...,0.384862,0.439876,493.272534,26.119108,875.033098,60.973565,4.89417,52.37663,Weekday,Amsterdam
4,485.552926,Private room,False,True,2.0,True,0,0,10.0,98.0,...,0.544738,0.318693,552.830324,29.272733,815.305740,56.811677,4.90051,52.37508,Weekday,Amsterdam

In [187]:
#The above steps finished cleaning and concatenating the two Amsterdam csv's. 
#These steps have to be repeated for each city, which is time-consuming
#To save time, I will create a new function that replicates the above clean/merge tasks and apply this function for each city

def aggregate(csv1,col1,csv2,col2,city):      
    csv1['Weekday/Weekend'] = col1
    csv2['Weekday/Weekend'] = col2
    csv1.drop(columns = ['Unnamed: 0'],inplace=True)
    csv2.drop(columns = ['Unnamed: 0'],inplace=True)
    newconcatfile = pd.concat([csv1, csv2])
    newconcatfile['city'] = city
    return newconcatfile

#This function is a condensed version of all the above cleaning/wrangling tasks.

In [193]:
#Applying the aggregate function for each city (including repeating it for Amsterdam)
amsterdam = aggregate(amsterdam_weekdays,'weekdays',amsterdam_weekends,'weekends','amsterdam')
athens = aggregate(athens_weekdays,'weekdays',athens_weekends,'weekends','athens')
barcelona = aggregate(barcelona_weekdays,'weekdays',barcelona_weekends,'weekends','barcelona')
berlin = aggregate(berlin_weekdays,'weekdays',berlin_weekends,'weekends','berlin')
budapest = aggregate(budapest_weekdays,'weekdays',budapest_weekends,'weekends','budapest')
lisbon = aggregate(lisbon_weekdays,'weekdays',lisbon_weekends,'weekends','lisbon')
london = aggregate(london_weekdays,'weekdays',london_weekends,'weekends','london')
paris = aggregate(paris_weekdays,'weekdays',paris_weekends,'weekends','paris')
rome = aggregate(rome_weekdays,'weekdays',rome_weekends,'weekends','rome')
vienna = aggregate(vienna_weekdays,'weekdays',vienna_weekends,'weekends','vienna')

In [23]:
#Now let's stack all the cleaned/merged city datasets on top of each other to form one coherent dataset
cities = [amsterdam, athens, barcelona, berlin, budapest, lisbon, london, paris, rome, vienna]
europedataset = pd.concat(cities, ignore_index=True)

In [65]:
#Sampling the new Europedataset just to doublecheck this concatenation was performed correctly
europedataset.sample(15)

,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,guest_satisfaction_overall,...,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,Weekday/Weekend,city
27105,203.673652,Entire home/apt,False,False,4.0,False,0,1,10.0,93.0,...,5.806480,0.148016,200.444059,13.933648,472.954132,8.465055,-0.18100,51.54845,weekends,london
19962,280.956848,Entire home/apt,False,False,6.0,True,0,1,10.0,96.0,...,3.696791,2.930905,109.220154,3.602438,216.940897,12.192652,-9.17978,38.70141,weekends,lisbon
22605,583.033467,Entire home/apt,False,False,4.0,False,0,0,8.0,84.0,...,5.533388,1.756477,207.992155,14.457765,454.306315,8.134734,-0.17697,51.46934,weekdays,london
16830,179.878049,Private room,False,True,2.0,False,0,1,10.0,97.0,...,0.368687,0.315186,530.179117,17.503486,983.120622,43.968823,-9.13549,38.71309,weekdays,lisbon
39941,161.550511,Private room,False,True,3.0,False,0,1,10.0,93.0,...,3.255536,0.284970,208.636965,4.623436,604.243086,13.156073,12.52500,41.87700,weekdays,rome
27757,577.153743,Entire home/apt,False,False,2.0,True,1,0,10.0,99.0,...,1.388952,0.234457,590.162937,41.024527,1561.014743,27.939444,-0.13686,51.51936,weekends,london
9918,161.984779,Private room,False,True,2.0,False,0,0,9.0,89.0,...,5.006931,1.058599,172.746621,6.669947,283.366369,6.224607,2.17158,41.43222,weekends,barcelona
10704,162.428718,Private room,False,True,2.0,False,0,0,10.0,90.0,...,12.912668,5.455034,28.647636,4.367899,37.797060,7.793495,13.56682,52.45230,weekdays,berlin
15599,170.841754,Entire home/apt,False,False,2.0,False,1,0,9.0,100.0,...,5.943967,1.868882,59.906952,3.575482,83.921657,7.336259,19.04842,47.55188,weekends,budapest
21203,146.810507,Private room,False,True,2.0,False,0,1,10.0,100.0,...,1.181257,0.095134,179.900254,5.933698,512.264442,28.790616,-9.13605,38.72264,weekends,lisbon
26383,464.733413,Entire home/apt,False,False,2.0,False,0,1,5.0,50.0,...,2.506863,0.251650,468.808003,32.587364,1030.069429,18.444253,-0.15846,51.51993,weekdays,london
25946,523.295468,Entire home/apt,False,False,4.0,False,0,1,8.0,70.0,...,5.536777,0.139415,244.233450,16.976938,467.236442,8.366258,-0.04906,51.49944,weekdays,london
42202,140.509200,Private room,False,True,2.0,False,0,1,9.0,93.0,...,0.761711,0.250723,586.413878,12.995047,1449.280343,31.554913,12.50119,41.89406,weekdays,rome
7111,135.448644,Entire home/apt,False,False,6.0,True,0,1,10.0,100.0,...,1.892885,0.219422,99.196145,3.737486,139.662317,2.085709,23.72867,37.99176,weekends,athens
29623,152.167266,Private room,False,True,2.0,False,1,0,10.0,93.0,...,10.027727,5.183896,113.938504,7.920310,234.588559,4.198726,-0.06873,51.42602,weekends,london

In [212]:
#Importing new csvs to add more GDP-based columns for each respective city onto this europe dataset
citygdp = pd.read_csv('CityListGDP2.csv')

In [221]:
#Checking if all the cities in the eurodataset are in this new citygdp dataset

citygdp[citygdp['City proper/metropolitan area'].isin(['Amsterdam-Rotterdam','Athens','Barcelona', 'Berlin', 'Budapest','Lisbon', 'London', 'Paris', 'Rome', 'Vienna'])]

,Rank,City proper/metropolitan area,Country/region,UNSD\nsub‑region,Official est. GDP\nup to date\n(billion US$),Brookings 2014 est.\nPPP-adjusted GDP\n(billion US$),Metropolitan population,Official est. GDP per capita
13,56,Amsterdam-Rotterdam,Netherlands,Western Europe,223.0 (2015),320.6,"5,800,000 (2022)","38,448.28"
18,139,Athens,Greece,Southern Europe,93.7 (2015),129.623,"3,500,000 (2022)","26,771.43"
29,72,Barcelona,Spain,Southern Europe,173.315 (2017),171.032,"4,900,000 (2022)","35,370.41"
40,53,Berlin,Germany,Western Europe,243.16 (2021),157.706,"4,750,000 (2022)","51,191.58"
59,209,Budapest,Hungary,Central Europe,58.5 (2016),97.957,"2,650,000 (2022)","22,075.47"
245,116,Lisbon,Portugal,Southern Europe,110.0 (2015),125.282,"2,975,000 (2022)","44,444.44"
248,4,London,United Kingdom,Northern Europe,978.402 (2021),835.658,"14,800,000 (2022)","66,108.24"
314,5,Paris,France,Western Europe,934.168 (2021),855.65,"11,400,000 (2022)","81,944.56"
342,77,Rome,Italy,Southern Europe,166.8 (2015),163.243,"4,297,877 (2022)","48,347.83"
424,115,Vienna,Austria,Central Europe,112 (2019),183.712,"2,250,000 (2022)","49,777.78"

In [ ]:
#All the cities in my europe dataset are in this citygdp dataset
#let's join the two datasets so the europe dataset merges its columns to include the respective cities' gdps from the new dataset
#However, before doing so, the europe and citygdp datasets have to have the same value names in their city columns
#The city names in the citygdp dataframe are all in uppercase, so let's make it lowercase

In [87]:
citygdp['City proper/metropolitan area'] = citygdp['City proper/metropolitan area'].apply(str.lower)

In [88]:
#Using sample method to check if city names became lowercase
citygdp['City proper/metropolitan area'].sample(10)

407                       tianjin
99              dallas–fort worth
155                  boise, idaho
76                      changchun
16                         anshan
389               greater sudbury
288                       nanning
423    victoria, british columbia
225             kingston, ontario
119                    faisalabad
Name: City proper/metropolitan area, dtype: object

In [ ]:
#Now let's name both dataframe city columns into the same name so that they can be joined

In [90]:
citygdp2 =citygdp.rename(columns={"City proper/metropolitan area": "city"})
citygdp2.head()

,Rank,city,Country/region,UNSD\nsub‑region,Official est. GDP\nup to date\n(billion US$),Brookings 2014 est.\nPPP-adjusted GDP\n(billion US$),Metropolitan population,Official est. GDP per capita
0,129,aachen-liège-maastricht,Germany Belgium Netherlands,Western Europe,NaN,99.728,"3,500,000 (2014) metropolitan population for D...","28,493.71"
1,300+,"abbotsford, british columbia",Canada,North America,6.141 (2019),NaN,"202,497 (2019)","30,321.44"
2,300+,aberdeen,United Kingdom,Northern Europe,23.0 (2020),NaN,"489,840 (2020)","46,957.94"
3,300+,abidjan,Ivory Coast,Africa,27 (2017),NaN,"5,950,000 (2022)","4,537.82"
4,106,abu dhabi,United Arab Emirates,Western Asia,119 (2015),178.256,"1,660,000 (2022)","71,686.75"

In [102]:
#Before merging, cutting out extra columns on citygdp dataset that are no longer needed
#I'm only keeping the city and gdp columns
citygdp3 = citygdp2.loc[:, ['city', 'Official est. GDP\nup to date\n(billion US$)']]

In [103]:
citygdp3.head()

                           city Official est. GDP\nup to date\n(billion US$)
0       aachen-liège-maastricht                                          NaN
1  abbotsford, british columbia                                 6.141 (2019)
2                      aberdeen                                  23.0 (2020)
3                       abidjan                                    27 (2017)
4                     abu dhabi                                   119 (2015)

In [110]:
#Merging the two datasets together
merged = pd.merge(europedataset, citygdp3, how='inner', on='city')

In [135]:
#Using sample method again to doublecheck this merge
merged.sample(15)

,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,guest_satisfaction_overall,...,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,Weekday/Weekend,city,Official est. GDP\nup to date\n(billion US$)
40950,149.860894,Private room,False,True,2.0,False,1,0,8.0,88.0,...,0.872687,135.660214,3.006257,380.738510,8.289749,12.53995,41.85903,weekdays,rome,166.8 (2015)
32088,278.217914,Entire home/apt,False,False,2.0,False,1,0,9.0,87.0,...,0.074982,335.695557,16.341547,900.594115,52.918493,2.36996,48.86297,weekdays,paris,934.168 (2021)
14745,536.819887,Entire home/apt,False,False,6.0,False,0,1,8.0,84.0,...,2.566119,108.281280,3.574829,221.907918,9.924550,-9.17821,38.70492,weekdays,lisbon,110.0 (2015)
8461,227.166495,Entire home/apt,False,False,4.0,False,0,1,9.0,92.0,...,0.252938,163.226860,24.887166,279.400645,57.610500,13.34274,52.50421,weekdays,berlin,243.16 (2021)
30578,486.531830,Entire home/apt,False,False,4.0,False,0,1,10.0,95.0,...,0.194997,471.864754,22.970217,1185.005354,69.630366,2.34846,48.86860,weekdays,paris,934.168 (2021)
27788,915.590677,Entire home/apt,False,False,6.0,False,0,1,6.0,60.0,...,0.248992,450.017082,31.282442,996.856502,17.841994,-0.10420,51.52213,weekends,london,978.402 (2021)
37575,431.346878,Private room,False,True,2.0,True,0,1,9.0,93.0,...,1.231061,1022.944597,22.668654,1954.936018,42.564461,12.47800,41.89600,weekdays,rome,166.8 (2015)
35640,152.856743,Entire home/apt,False,False,2.0,False,0,0,9.0,94.0,...,0.243114,220.604772,10.726923,563.694440,26.004539,2.39144,48.85553,weekends,paris,934.168 (2021)
36286,336.238233,Entire home/apt,False,False,5.0,False,0,0,9.0,80.0,...,0.251440,237.768936,11.561532,519.285472,23.955850,2.32502,48.82635,weekends,paris,934.168 (2021)
123,206.453730,Entire home/apt,False,False,4.0,False,0,0,10.0,95.0,...,0.883492,137.212450,5.173480,177.111938,13.298642,23.74341,37.96894,weekdays,athens,93.7 (2015)
14551,116.087794,Entire home/apt,False,False,2.0,False,0,0,10.0,100.0,...,0.441515,228.373546,13.630230,569.671666,49.799529,19.05356,47.48948,weekends,budapest,58.5 (2016)
34016,613.990120,Entire home/apt,False,False,4.0,False,0,0,10.0,100.0,...,0.336690,560.067241,27.233310,894.421205,41.261736,2.30821,48.86610,weekends,paris,934.168 (2021)
37261,251.326772,Entire home/apt,False,False,4.0,True,0,1,10.0,96.0,...,0.644176,338.314769,7.497122,788.537787,17.168687,12.50631,41.88054,weekdays,rome,166.8 (2015)
17428,196.763602,Entire home/apt,False,False,6.0,False,0,1,10.0,100.0,...,0.726277,154.664254,5.106130,340.776637,15.240803,-9.12280,38.72015,weekdays,lisbon,110.0 (2015)
18367,239.446529,Private room,False,True,3.0,False,0,1,9.0,81.0,...,0.297135,127.352813,4.200512,366.041726,20.572513,-9.15925,38.72007,weekends,lisbon,110.0 (2015)

In [136]:
#Let's import another new csv that can add extra features for each respective city
#In this case, we are importing/adding this new csv for its population and area features for each respective euro city
popandarea = pd.read_csv('PopandArea.csv')
popandarea.head()

   CityNo        City     Country  Population  Area in km2
0       1   Amsterdam  Netherland      851573        219.32
1       2      Athens      Greece      664046       2929.00
2       4   Barcelona       Spain     1620809        101.40
3       4      Berlin     Germany     3711930        891.70
4       5  Bratislava    Slovakia      424428        367.60

In [122]:
#Let's clean and wrangle this data like before
poparea2 = popandarea.loc[:, ['City', 'Country', 'Population', 'Area in km2 ']]
poparea2.head()

         City     Country  Population  Area in km2
0   Amsterdam  Netherland      851573        219.32
1      Athens      Greece      664046       2929.00
2   Barcelona       Spain     1620809        101.40
3      Berlin     Germany     3711930        891.70
4  Bratislava    Slovakia      424428        367.60

In [124]:
poparea3 = poparea2.rename(columns={'City':'city'})

In [132]:
poparea3.head()

         city     Country  Population  Area in km2
0   Amsterdam  Netherland      851573        219.32
1      Athens      Greece      664046       2929.00
2   Barcelona       Spain     1620809        101.40
3      Berlin     Germany     3711930        891.70
4  Bratislava    Slovakia      424428        367.60

In [141]:
poparea3['city'] = poparea3['city'].apply(str.lower)

In [142]:
#Let's merge poparea3 with the other dataset
merged2 = pd.merge(merged, poparea3, how='inner', on='city')

In [145]:
#Using sample method to again check this recent merge to see that all columns are added and aligned accurately
merged2.sample(8)

,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,guest_satisfaction_overall,...,rest_index,rest_index_norm,lng,lat,Weekday/Weekend,city,Official est. GDP\nup to date\n(billion US$),Country,Population,Area in km2
11914,129.717535,Entire home/apt,False,False,3.0,True,0,1,10.0,99.0,...,301.734994,22.848302,19.05100,47.51500,weekdays,budapest,58.5 (2016),Hungary,1779361,525.2
27077,231.896329,Private room,False,True,2.0,False,0,1,7.0,65.0,...,902.792985,16.158421,-0.17659,51.49380,weekends,london,978.402 (2021),England,8825000,607.0
26202,377.713493,Entire home/apt,False,False,3.0,False,1,0,9.0,94.0,...,887.097390,15.877498,-0.08151,51.52377,weekends,london,978.402 (2021),England,8825000,607.0
29929,898.421882,Entire home/apt,False,False,3.0,False,0,1,9.0,92.0,...,692.475856,12.394111,-0.06615,51.51228,weekends,london,978.402 (2021),England,8825000,607.0
43906,161.784303,Entire home/apt,False,False,4.0,True,1,0,10.0,97.0,...,936.729376,20.409061,12.50929,41.89179,weekends,rome,166.8 (2015),Italy,2868782,1285.0
40404,232.623384,Private room,False,True,2.0,False,1,0,9.0,90.0,...,1290.483948,28.097468,12.50108,41.90357,weekdays,rome,166.8 (2015),Italy,2868782,1285.0
24907,452.738776,Entire home/apt,False,False,2.0,False,0,1,10.0,100.0,...,844.341714,15.118643,-0.07321,51.52349,weekdays,london,978.402 (2021),England,8825000,607.0
44978,196.385570,Entire home/apt,False,False,3.0,False,0,0,10.0,100.0,...,1388.020537,30.241600,12.49611,41.90313,weekends,rome,166.8 (2015),Italy,2868782,1285.0

In [161]:
#Let's clean up the column names so that we can more easily perform calculations and other actions on them (I probably should've performed this step way earlier)
#I wrote out the syntax via mulitple lines simply to make it easier to follow all the column names renamed
merged3 = merged2.rename(columns={'realSum':'Price', 'room_type':'Room Type', 'room_shared':'Shared Room', 'room_private':'Private Room',})
merged4 = merged3.rename(columns={'person_capacity':'Person Capacity','host_is_superhost':'Superhost?','multi':'Multi Listing?'})
merged5 = merged4.rename(columns={'biz':'Biz Listing?', 'cleanliness-rating':'Cleaniness Rating', 'guest_satisfaction_overall':'guest satis rating'})
merged6 = merged5.rename(columns={'rest_index':'Rest Index', 'rest_index_norm':'Rest Index Norm', 'lng':'LNG', 'lat':'LAT'})
merged7 = merged6.rename(columns={'Official est. GDP\nup to date\n(billion US$)':'GDP (B USD)'})

In [164]:
#Checking if the columns were renamed
#Also renaming the dataset to eurobnb
eurobnb = merged7
merged7.head()

,Price,Room Type,Shared Room,Private Room,Person Capacity,Superhost?,Multi Listing?,Biz Listing?,cleanliness_rating,guest satis rating,...,Rest Index,Rest Index Norm,LNG,LAT,Weekday/Weekend,city,GDP (B USD),Country,Population,Area in km2
0,129.824479,Entire home/apt,False,False,4.0,False,0,0,10.0,100.0,...,78.778377,5.915160,23.76600,37.98300,weekdays,athens,93.7 (2015),Greece,664046,2929.0
1,138.963748,Entire home/apt,False,False,4.0,True,1,0,10.0,96.0,...,407.167696,30.572629,23.73168,37.97776,weekdays,athens,93.7 (2015),Greece,664046,2929.0
2,156.304923,Entire home/apt,False,False,3.0,True,0,1,10.0,98.0,...,395.967403,29.731642,23.72200,37.97900,weekdays,athens,93.7 (2015),Greece,664046,2929.0
3,91.627024,Entire home/apt,False,False,4.0,True,1,0,10.0,99.0,...,58.706578,4.408047,23.72712,38.01435,weekdays,athens,93.7 (2015),Greece,664046,2929.0
4,74.051508,Private room,False,True,2.0,False,0,0,10.0,100.0,...,113.325973,8.509204,23.73391,37.99529,weekdays,athens,93.7 (2015),Greece,664046,2929.0

In [167]:
#Let's create a new column: Pop Density (population density)
eurobnb['Pop Density (ppl/km2)'] = eurobnb['Population']/eurobnb['Area in km2 ']

In [ ]:
#I want to create other new columns by performing calculations on columns
#The GDP (B USD) column has (years) and other object/string formats that prevent calculations
#Have to extract out the years w/in this column to leave only integers so that calculations can then be performed on this column
eurobnb['GDP (B USD)'] = eurobnb['GDP (B USD)'].str[:4]

In [ ]:
#Convert this column to numeric to permit calculations etc
eurobnb['GDP (B USD)'] = pd.to_numeric(eurobnb['GDP (B USD)'])

In [185]:
#let's create another new column: GDP per capita
eurobnb['GDP per capita'] = eurobnb['GDP (B USD)']/eurobnb['Population']

In [199]:
eurobnb.sample(5)

,Price,Room Type,Shared Room,Private Room,Person Capacity,Superhost?,Multi Listing?,Biz Listing?,cleanliness_rating,guest satis rating,...,LNG,LAT,Weekday/Weekend,city,GDP (B USD),Country,Population,Area in km2,Pop Density (ppl/km2),GDP per capita
39178,129.287167,Private room,False,True,2.0,False,0,1,10.0,92.0,...,12.49515,41.90892,weekdays,rome,166.0,Italy,2868782,1285.0,2232.515175,0.000058
15670,112.570356,Private room,False,True,2.0,True,1,0,10.0,100.0,...,-9.13351,38.73438,weekdays,lisbon,110.0,Portugal,504718,100.0,5047.180000,0.000218
8098,242.977169,Private room,False,True,4.0,False,0,1,8.0,72.0,...,2.18890,41.41462,weekends,barcelona,173.0,Spain,1620809,101.4,15984.309665,0.000107
2997,171.537037,Entire home/apt,False,False,4.0,True,0,1,10.0,100.0,...,23.73300,37.97600,weekends,athens,93.7,Greece,664046,2929.0,226.714237,0.000141
13263,180.241575,Entire home/apt,False,False,3.0,True,1,0,9.0,95.0,...,19.06037,47.50668,weekends,budapest,58.5,Hungary,1779361,525.2,3387.968393,0.000033

In [195]:
#Last check for null values in dataset (I know this should have been the first step..)
eurobnb.isnull().sum()

Price                    0
Room Type                0
Shared Room              0
Private Room             0
Person Capacity          0
Superhost?               0
Multi Listing?           0
Biz Listing?             0
cleanliness_rating       0
guest satis rating       0
bedrooms                 0
dist                     0
metro_dist               0
attr_index               0
attr_index_norm          0
Rest Index               0
Rest Index Norm          0
LNG                      0
LAT                      0
Weekday/Weekend          0
city                     0
GDP (B USD)              0
Country                  0
Population               0
Area in km2              0
Pop Density (ppl/km2)    0
GDP per capita           0
dtype: int64

In [ ]:
#Checking for duplicate entries

In [198]:
eurobnb[eurobnb.duplicated() == True]

Empty DataFrame
Columns: [Price, Room Type, Shared Room, Private Room, Person Capacity, Superhost?, Multi Listing?, Biz Listing?, cleanliness_rating, guest satis rating, bedrooms, dist, metro_dist, attr_index, attr_index_norm, Rest Index, Rest Index Norm, LNG, LAT, Weekday/Weekend, city, GDP (B USD), Country, Population, Area in km2 , Pop Density (ppl/km2), GDP per capita]
Index: []

[0 rows x 27 columns]

In [204]:
# Converting GDP per Capita column into 1000s (instead of billions)
eurobnb['GDP per capita'] = eurobnb['GDP per capita'].apply(lambda x: x * 1000000)

# Note: I know I didn't have to use the .apply(lambda x) function here, but just trying out it's syntax

In [211]:
eurobnb.sample(10)

,Price,Room Type,Shared Room,Private Room,Person Capacity,Superhost?,Multi Listing?,Biz Listing?,cleanliness_rating,guest satis rating,...,LNG,LAT,Weekday/Weekend,city,GDP (B USD),Country,Population,Area in km2,Pop Density (ppl/km2),GDP per capita
32813,248.858235,Entire home/apt,False,False,5.0,True,0,0,9.0,96.0,...,2.31554,48.83068,weekdays,paris,934.0,France,2206488,105.4,20934.421252,423.297113
47447,164.551340,Entire home/apt,False,False,5.0,True,1,0,10.0,97.0,...,16.24038,48.13841,weekdays,vienna,112.0,Austria,1889083,414.6,4556.398939,59.288025
47043,121.543604,Private room,False,True,2.0,False,0,0,9.0,95.0,...,16.30085,48.21237,weekdays,vienna,112.0,Austria,1889083,414.6,4556.398939,59.288025
11403,223.480754,Entire home/apt,False,False,4.0,True,1,0,10.0,99.0,...,19.06875,47.47648,weekdays,budapest,58.5,Hungary,1779361,525.2,3387.968393,32.876971
6388,212.954128,Private room,False,True,2.0,False,0,0,9.0,93.0,...,2.15593,41.40330,weekdays,barcelona,173.0,Spain,1620809,101.4,15984.309665,106.736821
32692,277.518874,Entire home/apt,False,False,4.0,True,1,0,10.0,100.0,...,2.29824,48.83304,weekdays,paris,934.0,France,2206488,105.4,20934.421252,423.297113
38703,163.888434,Entire home/apt,False,False,4.0,True,0,0,10.0,99.0,...,12.53394,41.89786,weekdays,rome,166.0,Italy,2868782,1285.0,2232.515175,57.864278
32480,236.275515,Entire home/apt,False,False,2.0,False,0,0,9.0,94.0,...,2.38393,48.86149,weekdays,paris,934.0,France,2206488,105.4,20934.421252,423.297113
34867,347.655886,Entire home/apt,False,False,2.0,True,0,0,10.0,99.0,...,2.35040,48.88196,weekends,paris,934.0,France,2206488,105.4,20934.421252,423.297113
17558,227.720450,Private room,False,True,6.0,True,0,1,10.0,98.0,...,-9.13200,38.71000,weekends,lisbon,110.0,Portugal,504718,100.0,5047.180000,217.943485

In [ ]:
#Note: The gpd per capita column values seem off ...

In [ ]:
#This dataset is now ready for further analysis

In [223]:
eurobnb.shape

(49627, 27)